<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.typemytype.robofont.binarySource</key>
    <string>/Users/mac/Desktop/www.ischriswong.com/down/assets/icon/fonts/iconfont﹖t=1676449759907.ttf</string>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.layerName</key>
    <string>foreground</string>
    <key>com.typemytype.robofont.compileSettings.path</key>
    <string>/Users/mac/Desktop/www.ischriswong.com/down/assets/icon/fonts/aaa.ttf</string>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <integer>1</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>glyph00000</string>
      <string>LearningCenter</string>
      <string>a-99</string>
      <string>beta</string>
      <string>xingzhuangjiehe</string>
      <string>xingzhuang2</string>
      <string>xingzhuang</string>
      <string>bianzu</string>
      <string>nainiuyun</string>
      <string>nainiu</string>
      <string>xingzhuangjiehe3x</string>
      <string>background_logo</string>
      <string>ping</string>
      <string>weix</string>
      <string>anz</string>
      <string>jianpan</string>
      <string>qiepian21x</string>
      <string>qiepian3beifen1x</string>
      <string>qiepian31x</string>
      <string>qiepian1x</string>
      <string>yun</string>
      <string>QX-baiduyun</string>
      <string>QX-tianyiyun</string>
      <string>zhuyi</string>
      <string>liuyan</string>
      <string>GroupCopy6</string>
      <string>sousuo</string>
      <string>liuyanbt</string>
      <string>store101</string>
      <string>liwuhe</string>
      <string>gjux</string>
      <string>liwu</string>
      <string>GroupCopy</string>
      <string>Group</string>
      <string>GroupCopy1</string>
      <string>Group1</string>
      <string>GroupCopy2</string>
      <string>GroupCopy3</string>
      <string>Group2</string>
      <string>Group3</string>
      <string>GroupCopy4</string>
      <string>Group4</string>
      <string>GroupCopy5</string>
      <string>Group5</string>
      <string>_huaban</string>
      <string>liuyan1</string>
      <string>qijixiulogo2</string>
      <string>qijishow1</string>
      <string>qijishow2</string>
      <string>qijishow2-copy</string>
      <string>qijishow2-copy-copy</string>
      <string>qijishow2-copy-copy-copy</string>
      <string>qijishow2-copy-copy-copy-copy</string>
      <string>hanhua</string>
      <string>baiduyunpan</string>
      <string>github</string>
      <string>shijian</string>
      <string>wechat-copy</string>
      <string>qqqun</string>
      <string>shubiaodianji</string>
      <string>qijishow</string>
      <string>weixin</string>
      <string>qijixiulogo</string>
      <string>xinlangweibo</string>
      <string>pingguo</string>
      <string>xingzhuang5</string>
      <string>win</string>
    </array>
    <key>public.truetype.instructions</key>
    <dict>
      <key>formatVersion</key>
      <string>1</string>
      <key>maxFunctionDefs</key>
      <integer>10</integer>
      <key>maxInstructionDefs</key>
      <integer>0</integer>
      <key>maxStackElements</key>
      <integer>255</integer>
      <key>maxStorage</key>
      <integer>10</integer>
      <key>maxTwilightPoints</key>
      <integer>0</integer>
      <key>maxZones</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
