<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Group</key>
    <string>G_roup.glif</string>
    <key>Group1</key>
    <string>G_roup1.glif</string>
    <key>Group2</key>
    <string>G_roup2.glif</string>
    <key>Group3</key>
    <string>G_roup3.glif</string>
    <key>Group4</key>
    <string>G_roup4.glif</string>
    <key>Group5</key>
    <string>G_roup5.glif</string>
    <key>GroupCopy</key>
    <string>G_roupC_opy.glif</string>
    <key>GroupCopy1</key>
    <string>G_roupC_opy1.glif</string>
    <key>GroupCopy2</key>
    <string>G_roupC_opy2.glif</string>
    <key>GroupCopy3</key>
    <string>G_roupC_opy3.glif</string>
    <key>GroupCopy4</key>
    <string>G_roupC_opy4.glif</string>
    <key>GroupCopy5</key>
    <string>G_roupC_opy5.glif</string>
    <key>GroupCopy6</key>
    <string>G_roupC_opy6.glif</string>
    <key>LearningCenter</key>
    <string>L_earningC_enter.glif</string>
    <key>QX-baiduyun</key>
    <string>Q_X_-baiduyun.glif</string>
    <key>QX-tianyiyun</key>
    <string>Q_X_-tianyiyun.glif</string>
    <key>_huaban</key>
    <string>_huaban.glif</string>
    <key>a-99</key>
    <string>a-99.glif</string>
    <key>anz</key>
    <string>anz.glif</string>
    <key>background_logo</key>
    <string>background_logo.glif</string>
    <key>baiduyunpan</key>
    <string>baiduyunpan.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>bianzu</key>
    <string>bianzu.glif</string>
    <key>github</key>
    <string>github.glif</string>
    <key>gjux</key>
    <string>gjux.glif</string>
    <key>glyph00000</key>
    <string>glyph00000.glif</string>
    <key>hanhua</key>
    <string>hanhua.glif</string>
    <key>jianpan</key>
    <string>jianpan.glif</string>
    <key>liuyan</key>
    <string>liuyan.glif</string>
    <key>liuyan1</key>
    <string>liuyan1.glif</string>
    <key>liuyanbt</key>
    <string>liuyanbt.glif</string>
    <key>liwu</key>
    <string>liwu.glif</string>
    <key>liwuhe</key>
    <string>liwuhe.glif</string>
    <key>nainiu</key>
    <string>nainiu.glif</string>
    <key>nainiuyun</key>
    <string>nainiuyun.glif</string>
    <key>ping</key>
    <string>ping.glif</string>
    <key>pingguo</key>
    <string>pingguo.glif</string>
    <key>qiepian1x</key>
    <string>qiepian1x.glif</string>
    <key>qiepian21x</key>
    <string>qiepian21x.glif</string>
    <key>qiepian31x</key>
    <string>qiepian31x.glif</string>
    <key>qiepian3beifen1x</key>
    <string>qiepian3beifen1x.glif</string>
    <key>qijishow</key>
    <string>qijishow.glif</string>
    <key>qijishow1</key>
    <string>qijishow1.glif</string>
    <key>qijishow2</key>
    <string>qijishow2.glif</string>
    <key>qijishow2-copy</key>
    <string>qijishow2-copy.glif</string>
    <key>qijishow2-copy-copy</key>
    <string>qijishow2-copy-copy.glif</string>
    <key>qijishow2-copy-copy-copy</key>
    <string>qijishow2-copy-copy-copy.glif</string>
    <key>qijishow2-copy-copy-copy-copy</key>
    <string>qijishow2-copy-copy-copy-copy.glif</string>
    <key>qijixiulogo</key>
    <string>qijixiulogo.glif</string>
    <key>qijixiulogo2</key>
    <string>qijixiulogo2.glif</string>
    <key>qqqun</key>
    <string>qqqun.glif</string>
    <key>shijian</key>
    <string>shijian.glif</string>
    <key>shubiaodianji</key>
    <string>shubiaodianji.glif</string>
    <key>sousuo</key>
    <string>sousuo.glif</string>
    <key>store101</key>
    <string>store101.glif</string>
    <key>wechat-copy</key>
    <string>wechat-copy.glif</string>
    <key>weix</key>
    <string>weix.glif</string>
    <key>weixin</key>
    <string>weixin.glif</string>
    <key>win</key>
    <string>win.glif</string>
    <key>xingzhuang</key>
    <string>xingzhuang.glif</string>
    <key>xingzhuang2</key>
    <string>xingzhuang2.glif</string>
    <key>xingzhuang5</key>
    <string>xingzhuang5.glif</string>
    <key>xingzhuangjiehe</key>
    <string>xingzhuangjiehe.glif</string>
    <key>xingzhuangjiehe3x</key>
    <string>xingzhuangjiehe3x.glif</string>
    <key>xinlangweibo</key>
    <string>xinlangweibo.glif</string>
    <key>yun</key>
    <string>yun.glif</string>
    <key>zhuyi</key>
    <string>zhuyi.glif</string>
  </dict>
</plist>
